{% extends "base-hx.html" %}

{% block content %}
<div class="container-sm p-4">
    <span class="h1">Contact Us - <span class="h3 text-secondary">{{ site_title }}</span></span>
    <hr>
    <div class="row">
        <div class="col-xl-6">
            <div class="row p-2">
                <div class="col-md-4 fw-bold h5">
                    Event Director
                </div>
                <div class="col-sm-4">
                    Trisha Davis
                </div>
                <div class="col-sm-4">
                    (801) XXX-XXXX
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-4 fw-bold h5">
                    Timing &amp; Technology
                </div>
                <div class="col-sm-4">
                    Ty Davis
                </div>
                <div class="col-sm-4">
                    (801) XXX-XXXX
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span class="h3">Send us a message</span>
            <form method="post" action="/contact-us/">
                {% csrf_token %}
                
                
                
                <div class="form-floating mb-3">
                    {{ form.email }}
                    {{ form.email.label_tag }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.message }}
                    {{ form.message.label_tag }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
