{% extends "base-account.html" %}

{% block title %}Login{% endblock %}
{% block card-title %}Login{% endblock %}

{% block card-body %}
<form method="post" action="/login/">
        {% csrf_token %}
    {% if form.username.errors %}
        <div class="alert alert-warning" role="alert">
            {{ form.username.errors }}
        </div>
    {% endif %}
    <div class="form-floating mb-3">
        {{ form.username }}
        {{ form.username.label_tag }}
    </div>
    <!-- <div class="form-floating mb-3"> -->
    <!--     <input class="form-control" id="id_email" type="email" placeholder="name@example.com" /> -->
    <!--     <label for="id_email">Email address</label> -->
    <!-- </div> -->
    {% if form.password.errors %}
        <div class="alert alert-warning" role="alert">
            {{ form.password.errors }}
        </div>
    {% endif %}
    <div class="form-floating mb-3">
        {{ form.password }}
        {{ form.password.label_tag }}
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="password.html">Forgot Password?</a>
        <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>
</form>
{% endblock %}

{% block card-footer %}
    <div class="small"><a href="/register">Need an account? Sign up!</a></div>
{% endblock %}


